<form [formGroup]="form" (ngSubmit)="submit(model)">
  <mat-card>
    <mat-card-content>
      <mat-card-title>Connexion</mat-card-title>
      <formly-form [form]="form" [fields]="fields" [model]="model"></formly-form>
    </mat-card-content>
    <mat-card-actions align="end">
      <a mat-flat-button routerLink="/password-reset">Mot de passe oublié</a>
      <a mat-stroked-button color="primary" routerLink="/sign-up">S'inscrire</a>
      <button mat-flat-button type="submit" color="primary">Connexion</button>
    </mat-card-actions>
  </mat-card>
</form>
